<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="OrphanageV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            
        </startup>
        <applicationSettings>
                <OrphanageV3.Properties.Settings>
                        <setting name="GeneralDateFormat" serializeAs="String">
                                <value>yyyy/MM/dd</value>
                        </setting>
                        <setting name="UseBackgroundColor" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="ShowHiddenRows" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="UseFatherName" serializeAs="String">
                                <value>True</value>
                        </setting>
                        <setting name="AddressSeparator" serializeAs="String">
                                <value>-</value>
                        </setting>
                        <setting name="OrphanLayoutFilePath" serializeAs="String">
                                <value>Orphan.layout</value>
                        </setting>
                        <setting name="OrphanageServiceURL" serializeAs="String">
                                <value>http://localhost:1515/</value>
                        </setting>
                        <setting name="DefaultPageSize" serializeAs="String">
                                <value>20</value>
                        </setting>
                </OrphanageV3.Properties.Settings>
        </applicationSettings>
</configuration>